<template>
  <div>
    <h1>Create A Post</h1>
    <form @submit.prevent="addPost">
        <input type="hidden" name="_token" :value="csrf">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Post Title:</label>
            <input type="text" class="form-control" v-model="post.title">
            <span v-if="allerrors.title" :class="['label label-danger']">@{{ allerrors.title[0] }}</span>
          </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div :class="['form-group', allerrors.comments ? 'has-error' : '']">
                    <label>Auther Name:</label>
                    <input type="text" class="form-control" v-model="post.auther">
                    <span v-if="allerrors.title" :class="['label label-danger']">@{{ allerrors.auther[0] }}</span>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-md-6">
                <div class="form-group">
                <label>Post Body:</label>
                <textarea class="form-control" v-model="post.body" rows="5"></textarea>
                <span v-if="allerrors.body" :class="['label label-error']" >@{{ allerrors.body[0] }}</span>
            </div>
          </div>
        </div><br />
        <div class="form-group">
          <button class="btn btn-primary">Create</button>
        </div>
    </form>
  </div>
</template>

<script>
    export default {
        data(){
        return {
          post:{},
          csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
          allerrors: {},
        }
    },
    methods: {
      addPost(){
            let vm = this;
          let uri = `http://localhost/laravue/public/api/post/create`;
          axios.post(uri, this.post)
          .then((response) => {
            vm.$router.push('/posts');
            Toast.fire({
                type: 'success',
                title: 'Successfully'
            });
          })
          .catch((error) => {
            vm.allerrors = error.response.data.errors;
          });
      }
    }
  }
</script>
