<template>
  <div>
    <h1>Edit Post</h1>
    <form @submit.prevent="updatePost">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Post Title:</label>
            <input type="text" class="form-control" v-model="post.title">
            <span v-if="allerrors.title" :class="['label label-danger']">{{ allerrors.title[0] }}</span>
          </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Post Auther:</label>
                    <input type="text" v-model="post.auther" class="form-control">
                    <span v-if="allerrors.auther" :class="['label label-danger']">{{ allerrors.auther[0] }}</span>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Post Body:</label>
              <textarea class="form-control" v-model="post.body" rows="5"></textarea>
              <span v-if="allerrors.body" >{{ allerrors.body[0] }}</span>
            </div>
          </div>
        </div><br />
        <div class="form-group">
          <button class="btn btn-primary">Update</button>
        </div>
    </form>
  </div>
</template>

<script>
    export default {
      data() {
          return {
              post: [],
              allerrors: []
          }
      },
      created() {
          let uri = `http://localhost:9000/api/post/edit/${this.$route.params.id}`;
          this.axios.get(uri).then((response) => {
              this.post = response.data;
          });
      },
      methods: {
          updatePost() {
              let uri = `http://localhost:9000/api/post/update/${this.$route.params.id}`;
              this.axios.post(uri, this.post)
              .then((response) => {
                  if(response.data.data.status == 'success'){
                    this.$router.push({name: 'posts'});
                    Toast.fire({
                        type: 'success',
                        title: response.data.data.message
                    });
                  }
                //   console.log(response.data);
                  
              }).catch(err =>{
                  this.allerrors = err.response.data.errors;
              });
          }
      }
    }
</script>